@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueHeavy.woff2') format('woff2'),
         url('../fonts/UniNeueHeavy.woff') format('woff');
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueHeavy-Italic.woff2') format('woff2'),
         url('../fonts/UniNeueHeavy-Italic.woff') format('woff');
    font-style: italic;
    font-weight: 900;
    font-display: swap;
}




@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueBlack.woff2') format('woff2'),
         url('../fonts/UniNeueBlack.woff') format('woff');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueBlack-Italic.woff2') format('woff2'),
         url('../fonts/UniNeueBlack-Italic.woff') format('woff');
    font-style: italic;
    font-weight: 800;
    font-display: swap;
}


@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueBold.woff2') format('woff2'),
         url('../fonts/UniNeueBold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueBold-Italic.woff2') format('woff2'),
         url('../fonts/UniNeueBold-Italic.woff') format('woff');
    font-style: italic;
    font-weight: 700;
    font-display: swap;
}


@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueRegular.woff2') format('woff2'),
         url('../fonts/UniNeueRegular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueRegular-Italic.woff2') format('woff2'),
         url('../fonts/UniNeueRegular-Italic.woff') format('woff');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}



@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueBook.woff2') format('woff2'),
         url('../fonts/UniNeueBook.woff') format('woff');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueBook-Italic.woff2') format('woff2'),
         url('../fonts/UniNeueBook-Italic.woff') format('woff');
    font-style: italic;
    font-weight: 300;
    font-display: swap;
}


@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueLight.woff2') format('woff2'),
         url('../fonts/UniNeueLight.woff') format('woff');
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueLight-Italic.woff2') format('woff2'),
         url('../fonts/UniNeueLight-Italic.woff') format('woff');
    font-style: italic;
    font-weight: 200;
    font-display: swap;
}


@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueThin.woff2') format('woff2'),
         url('../fonts/UniNeueThin.woff') format('woff');
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueThin-Italic.woff2') format('woff2'),
         url('../fonts/UniNeueThin-Italic.woff') format('woff');
    font-style: italic;
    font-weight: 100;
    font-display: swap;
}
