@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    &__btn{
        display: none;
    }
    &__inner{
        padding-top: vw(40);
    }
    &__top{
        padding-bottom: vw(50);
    }
    &__info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: vw(50);
    }

/*Логотип*/
    &__logo{
        display: flex;
        justify-content: space-between;
        max-width: vw(510);
        
        img{
            max-width: vw(184);
            height: auto;
        }
    }
    &__logo-descr{
        font-size: vw(18);
        padding-left: vw(35);
        line-height: vw(22);
        max-width: vw(288);
        span{
            font-weight: bold;
        }
    }

/*Карта*/
    &__map{
        display: flex;
        align-items: center;
        max-width: vw(240);
        img{
            max-width: vw(80);
            height: auto;
        }
    }
    &__map-link{
        display: inline-block;
        padding-left: vw(20);
        font-size: vw(16);
        line-height: vw(21);
        span{
            font-weight: bold;
        }
    }
    &__map-popup{
        display: none;
    }

/*Форма обратной связи*/
    &__callback-link{
        background-color: #313d4b;
        padding: vw(25) vw(30);
        display: inline-block;
        color: #fff;
        border-radius: vw(5);
        position: relative;
        overflow: hidden;
        &::before{
            content: '';
            position: absolute;
            width: vw(35);
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(#fff, 0.6);
            transform: translateX(vw(-45)) skewX(-45deg);
            animation: move-light 2s infinite;
            animation-delay: 2s;
        }
    }
    @keyframes move-light {
        0%{
            transform: translateX(vw(-45)) skewX(-45deg);
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        100%{
            transform: translateX(vw(270)) skewX(-45deg);
            opacity: 0;
        }
    }

/*Контакты*/
    &__contact-desktop{
        max-width: vw(235);
    }
    &__phone{
        font-size: vw(22);
        line-height: vw(22);
        font-weight: 900;
        text-align: center;
        position: relative;
        &:before{
            content: url(../images/phone.png);
            position: absolute;
            top: vw(3);
            left: vw(-30);
        }
    }
    &__social{
        display: flex;
        justify-content: center;
    }
    &__social-icon{
        display: inline-block;
        padding: vw(15) vw(16);
        background: #000;
        border-radius: vw(45); 
        img{
            max-width: vw(20);
        }
    }
    &__social-icon + &__social-icon{
        margin-left: vw(10);
    }
    &__social-viber{
        background-color: #7460f3;
        transition: 0.5s;
        &:hover{
            background-color: #5e4ec7;
        }
    }
    &__social-telegram{
        background-color: #00a2f2;
        transition: 0.5s;
        &:hover{
            background-color: #0788c7;
        }
    }
    &__social-whatsapp{
        background-color: #25d266;
        transition: 0.5s;
        &:hover{
            background-color: #22af57;
        }
    }

/*Menu*/
    .rightside-menu{
        &__list{
            display: flex;
            justify-content: space-between;
        }
        &__list-item{
            text-transform: uppercase;
            font-weight: bold;
            font-size: vw(16);
        }
        &__list-link{
            transition: 0.5s;
            &:hover{
                color: #fe5a51;
            }
        }
        &__close{
            display: none;
        }
    }
    &__contact-mobile{
        display: none;
    }
/**/
    &__content{
        display: flex;
        justify-content: space-between;
        padding-bottom: vw(50);
    }
    &__content-title{
        font-size: vw(60);
        line-height: vw(68);
        font-weight: 300;
        max-width: vw(850);
        padding-top: vw(50);
        padding-bottom: vw(70);
        span{
            font-weight: bold;
        }
    }
    &__content-items{
        display: flex;
        justify-content: space-between;
        max-width: vw(866);
        padding-bottom: vw(60);
    }
    &__content-item{
        display: flex;
        align-items: flex-start;
        font-size: vw(20);
        font-weight: 300;
        max-width: vw(210);
        position: relative;
        span{
            font-weight: bold;
        }
        p{
            padding-left: vw(15);
        }
        &:first-child{
            max-width: vw(315);
            p{
               &:first-child{
                font-size: vw(72);
                line-height: vw(72); 
                padding-left: 0;
               }
            }
        }
        &::before{
            content: '';
            position: absolute;
            width: vw(18);
            height: vw(4);
            background: #fe5851;
            top: 0;
            left: vw(-13);
            transform: skew(40deg, -40deg)
        }
    }
    &__content-info{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        max-width: vw(900);
        padding: 0 vw(10);
    }
    &__content-text{
        max-width: vw(410);
        font-size: vw(18);
        line-height: vw(30);
        padding-left: vw(20);
        padding-bottom: vw(25);
        span{
            background-color: #fff;
            font-weight: bold;
            padding: vw(5);
            border-radius: vw(5);
            line-height: 0;
        }
    }
    &__content-btn{
        text-transform: uppercase;
        font-size: vw(17);
        line-height: vw(27);
        font-weight: bold;
        box-shadow: 0px 4px 0px 0px rgba(232, 62, 62, 1);
        background: linear-gradient(0deg, rgba(254,91,85,1) 0%, rgba(254,124,85,1) 100%);
        max-width: vw(425);    
        padding: vw(20) vw(50) vw(20) vw(100);
        position: relative;
        display: inline-block;
        color: #fff;
        border-radius: vw(5);
        overflow: hidden;
        &::before{
            content: url(../images/btn.png);
            position: absolute;
            top: vw(20);
            left: vw(30);
        }
        &::after{
            content: '';
            position: absolute;
            width: vw(35);
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(#fff, 0.6);
            transform: translateX(vw(-45)) skewX(-45deg);
            animation: light 3s infinite;
            animation-delay: 2s;
        }
    }
    @keyframes light {
        0%{
            transform: translateX(vw(-45)) skewX(-45deg);
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        100%{
            transform: translateX(vw(420)) skewX(-45deg);
            opacity: 0;
        }
    }
    &__content-progress{
        h2{
            font-size: vw(17);
            font-weight: bold;
            padding-bottom: vw(18);
            text-align: center;
        }
    }
    &__content-slider,
    .slick-slider{
        display: flex !important;
        justify-content: space-between;
        max-width: vw(315);
    }
    .slick-prev.slick-arrow,
    .slick-next.slick-arrow {
        font-size: 0;
        border: none;
        background: inherit;
    }
    .slick-prev{
        position: relative;
        &::before{
            position: absolute;
            content: url(../images/pre.png);
            left: vw(-20);
            top: vw(35);
        }
    }
    .slick-next{
        position: relative;
        &::before{
            position: absolute;
            content: url(../images/next.png);
            right: vw(-10);
            top: vw(35);
        }
    }
    &__content-slide,
    .slick-slide{
        max-width: vw(70);
        border: 2px solid #303030;
        margin-left: vw(23);
    }
    &__img{
        img{
            max-width: vw(580);
            height: auto;
        }
    }
}



@media all and(max-width: 992px){
    body{
        font-size: 16px;
    }
    .container{
        max-width: 1200px;
        width: 100%;
        padding: 0 15px;
      }
    .header{
        &__inner{
            padding-top: 20px;
        }
        &__top{
            padding-bottom: 20px;
        }
        &__info{
            padding: 0 10px 30px;
        }
        /*Логотип*/
    &__logo{
        max-width: 320px;
        width: 100%;
        align-items: center;
        img{
            max-width: 175px;
            width: 100%;
            height: auto;
        }
    }
    &__logo-descr{
        font-size: 14px;
        padding-left: 20px;
        line-height: 17px;
        max-width: 215px;
    }

/*Карта*/
    &__map{
        max-width: 180px;
        img{
            max-width: 50px;
            width: 100%;
            height: auto;
        }
    }
    &__map-link{
        padding-left: 20px;
        font-size: 14px;
        line-height: 20px;
    }

/*Форма обратной связи*/
    &__callback-link{
        padding: 17px 10px;
        border-radius: 5px;
        font-size: 14px;
        &::before{
            width: 35px;
            transform: translateX(-4em) skewX(-45deg);
            animation: move-light 2s infinite;
            animation-delay: 2s;
        }
    }
    @keyframes move-light {
        0%{
            transform: translateX(-4em) skewX(-45deg);
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        100%{
            transform: translateX(10em) skewX(-45deg);
            opacity: 0;
        }
    }

    /*Контакты*/
        &__contact-desktop{
            max-width: 235px;
            padding-left: 20px;
        }
        &__phone{
            font-size: 16px;
            line-height: 27px;
            &:before{
                top: 0;
                left: -19px;
            }
        }
        &__social-icon{
            padding: 7px 8px;
            border-radius: 45px; 
            img{
                max-width: 15px;
                width: 100%;
            }
        }
        &__social-icon + &__social-icon{
            margin-left: 10px;
        }

    /*Menu*/
        .rightside-menu{
            &__list{
                justify-content: space-around;
            }
            &__list-item{
                font-size: 12px;
            }
        }


        &__content{
            justify-content: space-around;
            flex-wrap: wrap;
            padding-bottom: 50px;
        }
        &__content-offer {
            max-width: 500px;
            width: 100%;
        }
        &__content-title{
            font-size: 42px;
            line-height: 44px;
            max-width: 450px;
            padding-top: 30px;
            padding-bottom: 50px;
        }
        &__content-items{
            justify-content: space-around;
            max-width: 866px;
            padding-bottom: 30px;
        }
        &__content-item{
            font-size: 14px;
            max-width: 210px;
            p{
                padding-left: 15px;
            }
            &:first-child{
                max-width: 315px;
                p{
                   &:first-child{
                    font-size: 50px;
                    line-height: 52px; 
                   }
                }
            }
            &::before{
                width: 13px;
                height: 3px;
                left: 0;
                top: -5px;
            }
        }
        &__content-info{
            justify-content: space-around;
            max-width: 900px;
            padding: 0 10px;
        }
        &__content-text{
            max-width: 410px;
            font-size: 14px;
            line-height: 30px;
            padding-left: 20px;
            padding-bottom: 25px;
            span{
                padding: 5px;
                border-radius: 5px;
            }
        }
        &__content-btn {
            font-size: 12px;
            line-height: 22px;
            max-width: 226px;
            padding: 10px 20px 10px 20px;
            border-radius: 5px;
            &::before{
                display: none;
            }
            &::after{
                width: 35px;
                transform: translateX(-4em) skewX(-45deg);
                animation: light 3s infinite;
                animation-delay: 2s;
            }
        }
        @keyframes light {
            0%{
                transform: translateX(-4em) skewX(-45deg);
                opacity: 0;
            }
            50%{
                opacity: 1;
            }
            100%{
                transform: translateX(20em) skewX(-45deg);
                opacity: 0;
            }
        }
        &__content-progress{
            h2{
                font-size: 14px;
                padding-bottom: 18px;
            }
        }
        &__content-slider,
        .slick-slider{
            max-width: 208px;
        }
        .slick-prev{
            &::before{
                left: -3px;
                top: 18px;
            }
        }
        .slick-next{
            &::before{
                right: -10px;
                top: 18px;
            }
        }
        &__content-slide,
        .slick-slide{
            max-width: 70px;
            margin-left: 15px;
        }
        &__img{
            img{
                max-width: 340px;
                height: auto;
            }
        }
    }
    
}
@media all and(max-width: 900px){
    .header{
        &__info{
            justify-content: space-around;
        }
        &__logo{
            max-width: 230px;
            flex-direction: column;
        }
        &__logo-descr {
            max-width: 190px;
            font-size: 12px;
            padding-top: 10px;
            text-align: center;
        }
    }
}
@media all and(max-width: 885px){
    .header{
        position: relative;
        &__info{
            justify-content: center;
        }
        &__map{
            max-width: 220px;
        }
        &__callback{
            max-width: 228px;
            width: 100%;
            padding-top: 20px;
        }
        &__contact-desktop{
            display: none;
        }
        &__contact-mobile{
            display: block;
            padding-left: 0;
            padding-top: 10px;
            margin-bottom: 12px;
            text-align: center;
        }
        &__btn{
            display: block;
            margin-left: auto;
            border: none;
            background: #fff;
            border-radius: 5px;
            padding: 10px 10px;
            position: absolute;
            top: 76px;
            right: 26px;
           
        }
        .rightside-menu{
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            max-width: 394px;
            width: 100%;
            background-color: #ffffff;
            padding-top: 40px;
            z-index: 5;
            box-shadow: -2px 3px 17px 0 #000;
            transition: all .5s;
            &.rightside-menu--close{
                position: absolute;
                transform: translateX(500%);
            }
            &__close{
                display: block !important;
                background-color: transparent;
                border: none;
                padding: 0;
                cursor: pointer;
                margin-left: 50px;
                margin-bottom: 60px;
            }
            &__menu{
                text-align: center;
                max-width: 385px;
                margin: 0 auto;  
            }
            &__list{
                display: block;
                margin-top: -46px;
            }
            &__list-item{
                font-size: 18px;
                padding-bottom: 15px;
            }
            &__list-link{
                color: #000;
            }
            &__close{
                display: none;
            }

        }
    }
}
@media all and(max-width: 870px){
    .header{
        &__content-offer{
            max-width: 700px;
            width: 100%;
        }
        &__content-info{
            align-items: center;
        }
        &__content-slide,
        .slick-slide{
            margin-left: 13px;
        }
        &__img{
            display: none;
        }
    }
}
@media all and (max-width: 710px){
    .header{
        &__info{
            flex-direction: column;
        }
        &__logo {
            max-width: 200px;
            padding-right: 20px;
        }
        &__map {
            display: none;
        }
        &__callback {
            max-width: 175px
        }
        &__btn{
            top: 35px;
        }
    }
}
@media all and(max-width: 571px){
    .header{
       
        &__logo{
            img{
                max-width: 130px;
            }
        }
        
        &__btn{
            img{
                max-width: 25px;
                width: 100%;
            }
        }
        .rightside-menu__list-item {
            font-size: 14px;
            padding-bottom: 11px;
        }
        &__content-title {
            font-size: 36px;
            line-height: 38px;
            margin: 0 auto;
            text-align: center;
            padding-top: 25px;
            padding-bottom: 40px;
        }
        &__content-items {
            flex-wrap: wrap;
        }
        &__content-item {
            padding: 15px;
        }
        &__content-item::before {
            left: 5px;
            top: 17px;
        }
        &__content-info{
            flex-direction: column;
        }
        &__content-calculation {
            text-align: center;
        }
        &__content-progress {
            padding-top: 20px;
        }
    }
}

    

